src/main/mule/testing-git.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="35e814f8-3b70-4208-acd7-4c135080f85b" >
		<http:listener-connection host="localhost" port="8085" />
	</http:listener-config>
	<flow name="testing-gitFlow" doc:id="4034fca5-7b27-4e6b-a7fa-b862ac867050" >
		<http:listener doc:name="Listener" doc:id="fe5ff690-1c16-4b06-9c96-6943dd78e7f4" config-ref="HTTP_Listener_config" path="/git"/>
		<set-payload value="..........................&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;GIT &gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;..................." doc:name="Set Payload" doc:id="283217e2-8db2-48e2-b832-f1b2daad819a" />
		<logger level="INFO" doc:name="Logger" doc:id="a13de6f5-05f3-4470-b415-990a9a6be5a7" message="#[payload]"/>
	</flow>
</mule>
